#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.

export DH_VERBOSE=1

DEB_HOST_MULTIARCH = $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export ORIGLIBDIRS := /lib:/lib/$(DEB_HOST_MULTIARCH)

export DEB_HOST_ARCH_OS := $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

export DH_OPTIONS

DEB_UPSTREAM_VERSION=$(shell dpkg-parsechangelog | \
                       sed -rne 's,^Version: ([^+]+).*,\1,p')

PYVERS=$(shell pyversions -r debian/control)

override_dh_auto_configure:
	dh_auto_configure -- --enable-langm2

%:
	dh $@
